/* Apply to the whole page to disable scrolling */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Disable scrollbars */
    height: 100%; /* Ensure body and html take full height */
  }
  
  .itdepartment-container {
    position: relative;
    display: flex;
    height: 82.8vh;
    width: 100vw; 
    border-radius: 0%;
    box-shadow:
    inset 0 0 80px rgba(0, 255, 0, 0.7),
    inset 0 0 60px rgba(0, 255, 0, 0.5),
    inset 0 0 40px rgba(0, 255, 0, 0.3);
    justify-content: space-evenly; 
    overflow: hidden; 
  }
  
  .itdepartment-rectangle {
    width: 31.2%; /* Each rectangle takes approximately one-third of the width */
    height: 100%; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .itdepartment-rectangle img {
    width: 99%; /* Image takes full width */
    height: 99%; /* Image takes full height */
    display: block;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2.5px solid #000000;
    will-change: transform;
    cursor: pointer;
    filter: grayscale(95%);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    text-align: center;
  }
  
  .itdepartment-rectangle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(0);
    z-index: -1;
    transition: filter 1.5s ease;
  }
  
  .itdepartment-rectangle:hover {
    box-shadow: 0 0 30px #17ca07;
    border-color: #17ca07;
    border-radius: 10px;
    box-shadow: 25 50px 100px rgba(0, 255, 0, 0.5);
    border: 2px solid rgba(0, 255, 0, 0.7);
    will-change: transform;
    transition: transform 0.3s ease;
    transform: scale(1.075);
  }
  
  .itdepartment-rectangle img:hover {
    width: 99%; /* Image takes full width */
    height: 99%; /* Image takes full height */
    display: block;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2.5px solid #000000;
    will-change: transform;
    cursor: pointer;
    filter: grayscale(0);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    text-align: center;
  }
  
  .img1, .img2, .img3 {
    position: relative;
    background-color: #000000;
}