@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

.page-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82.5vh;
  width: 100vw;
}

body .page-not-found-container{
  background: black;
  background-image: url('./Background.jpg');
  background-size: 75vh;
  background-position: 25vmax;
}

.hacker {
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
}

/* מסך רגיל 16:9 */
@media (min-aspect-ratio: 16/9) and (max-aspect-ratio: 21/9) {
  .hacker {
    top: -4.3rem;
    left: 35vmax;
    width: 65vmax;
    height: 65vmax;
  }
}

/* מסך רחב 21:9 */
@media (min-aspect-ratio: 21/9) {
  .hacker {
    top: -11rem;
    left: 45vmax;
    width: 55vmax;
    height: 55vmax;
  }
}

.text {
  font-size: 4.0625rem;
  font-family: "Wallpoet", cursive;
  color: #17ca07;
  position: fixed;
  right: 0%;
  top: 70%;
  left: 52.5%;
  transform: translate(-100%, -100%);
}

._404 {
  font-size: 6.75rem;
  font-weight: bold;
}

.error {
  white-space: nowrap;
  font-size: 7.75rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #000, 0 0 15px #15ff00, 0 0 50px #15ff00;
  /*-webkit-animation: flicker 5.5s infinite alternate;*/
}

.blink {
  animation: blink 0.3s infinite;
}

.flicker {
  opacity: 0.8;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #000, 0 0 15px #15ff00, 0 0 50px #15ff00;
  -webkit-animation: flicker 3s infinite alternate;
  -moz-animation: flicker 3s infinite alternate;
  -o-animation: flicker 3s infinite alternate;
  animation: flicker 3s infinite alternate;
}

.flickerProblem {
  opacity: 0.8;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #000, 0 0 15px #15ff00, 0 0 50px #15ff00;
  -webkit-animation: flicker 5s infinite alternate;
  -moz-animation: flicker 5s infinite alternate;
  -o-animation: flicker 5s infinite alternate;
  animation: flicker 5s infinite alternate;
}

@-moz-keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-webkit-keyframes blink {
  45% {
    opacity: 0.5;
  }
}
@-o-keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-moz-keyframes flicker {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-webkit-keyframes flicker {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-o-keyframes flicker {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@keyframes flicker {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}

@-moz-keyframes flickerProblem {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-webkit-keyframes flickerProblem {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-o-keyframes flickerProblem {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@keyframes flickerProblem {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}