@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

/* מניעת גלילה לחלוטין */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.page-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
}

body .page-not-found-container{
  background: black;
  background-image: url('./Background.jpg');
  background-size: cover;
  background-position: center;
}

.hackerPNF {
  position: relative;
  margin-top: 12.7cqmax;
  margin-left: 46.2cqmax;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 65vmax;
  height: 65vmax;
  opacity: 1;
  z-index: 9999;
}

.text {
  font-size: 4.0625cqmax;
  font-family: "Wallpoet", cursive;
  color: #17ca07;
  position: fixed;
  right: 0%;
  top: 70%;
  left: 52.5%;
  transform: translate(-100%, -100%);
  z-index: 3;
  mix-blend-mode: difference;
}

._404 {
  font-size: 6.75rem;
  font-weight: bold;
}

.error {
  white-space: nowrap;
  font-size: 7.75rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #000, 0 0 15px #15ff00, 0 0 50px #15ff00;
  /*-webkit-animation: flicker 5.5s infinite alternate;*/
}

.blink {
  animation: blink 0.3s infinite;
}

.flicker {
  opacity: 0.8;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #000, 0 0 15px #15ff00, 0 0 50px #15ff00;
  -webkit-animation: flicker 3s infinite alternate;
  -moz-animation: flicker 3s infinite alternate;
  -o-animation: flicker 3s infinite alternate;
  animation: flicker 3s infinite alternate;
}

.flickerProblem {
  opacity: 0.8;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #000, 0 0 15px #15ff00, 0 0 50px #15ff00;
  -webkit-animation: flicker 5s infinite alternate;
  -moz-animation: flicker 5s infinite alternate;
  -o-animation: flicker 5s infinite alternate;
  animation: flicker 5s infinite alternate;
}

@-moz-keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-webkit-keyframes blink {
  45% {
    opacity: 0.5;
  }
}
@-o-keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-moz-keyframes flicker {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-webkit-keyframes flicker {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-o-keyframes flicker {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@keyframes flicker {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}

@-moz-keyframes flickerProblem {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-webkit-keyframes flickerProblem {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-o-keyframes flickerProblem {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@keyframes flickerProblem {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}

/* התאמה למסכי טלפון */
@media screen and (max-width: 768px) {
  .page-not-found-container {
    height: 100vh;
    padding: 1rem;
  }

  .text {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    font-size: 2.5rem;
  }

  ._404 {
    font-size: 4rem;
  }

  .error {
    font-size: 3.5rem;
  }

  .hackerPNF {
    width: 100vmin;
    height: 100vmin;
    top: auto;
    bottom: -20vh;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* מובייל קטן */
@media screen and (max-width: 480px) {
  .hackerPNF {
    width: 90vmin;
    height: 90vmin;
    bottom: -18vh;
    left: 75%;
    transform: translateX(-50%);
  }
}

/* מובייל גדול וטאבלט קטן */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hackerPNF {
    width: 85vmin;
    height: 85vmin;
    bottom: -5vh;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* טאבלט */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hackerPNF {
    width: 70vmax;
    height: 51vmax;
    bottom: -23vh;
    left: 0vw;
  }
}

/* לפטופים */
@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .hackerPNF {
    width: 65vmax;
    height: 65vmax;
    bottom: -10vh;
    left: 0vw;
  }
}

/* מסכי FHD */
@media screen and (min-width: 1367px) and (max-width: 1920px) {
  .hackerPNF {
    width: 60vmax;
    height: 60vmax;
    bottom: 0;
    left: 0vw;
  }
}

/* מדיה קוורי למסכי 21:9 */
@media screen and (min-aspect-ratio: 21/9) {
  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden !important;
    height: 100vh;
    width: 100vw;
    position: fixed;
  }

  .page-not-found-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
  }

  .hackerPNF {
    width: 50vmax;
    height: 50vmax;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    background-position: center;
    background-size: contain;
  }

  .text {
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 2.8vmax;
    white-space: nowrap;
    text-align: left;
    z-index: 2;
    width: 40%;
  }

  ._404 {
    font-size: 4vmax;
    display: inline-block;
  }

  .error {
    font-size: 5vmax;
    display: inline-block;
    margin-left: -0.3vmax;
  }

  .flickerProblem {
    display: inline-block;
  }
}

/* התאמה למצב לאנדסקייפ במובייל */
@media screen and (max-width: 900px) and (orientation: landscape) {
  .hackerPNF {
    width: 70vmin;
    height: 70vmin;
    bottom: -35vh;
  }
}

/* התאמה לגובה נמוך */
@media screen and (max-height: 600px) {
  .text {
    top: 40%;
  }

  .hackerPNF {
    bottom: -7vh;
  }
}