.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  box-sizing: border-box; /* Include padding in the element's total size */
}

/* Custom scrollbar styling */
.content {
  flex: 1;
  padding: 0px; /* Already set to 0, so no issue here */
  margin: 0; /* Remove any margin to eliminate space between sidebar and content */
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative;
  z-index: 1;
  box-sizing: border-box; /* Ensure consistent sizing */
}

.content::-webkit-scrollbar {
  width: 8px; /* Thinner scrollbar */
}

.content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Light background */
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 255, 0, 0.7); /* Custom scrollbar color */
  border-radius: 10px; /* Rounder edges */
  border: 2px solid rgba(0, 0, 0, 0.1); /* Adds a border */
}

/* Firefox scrollbar */
.content {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 255, 0, 0.7) rgba(0, 0, 0, 0.1);
}

