.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  flex: 1;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

/* Custom scrollbar styling for WebKit browsers */
.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 255, 0, 0.7);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

/* Custom scrollbar styling for Firefox */
.content {
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 255, 0, 0.7) rgba(0, 0, 0, 0.1);
}
