.main-page {
  display: flex;
  flex-direction: column;
  margin-right: -1.5rem;
  padding: 0;
  box-sizing: border-box;
}

.section {
  padding: -1rem 0;
  margin-right: 5rem;
}

.text-image-container {
  display: flex;
  align-items: flex-start;  /* שינוי מ-stretch ל-flex-start */
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 105px;
  margin-top: 2rem;  /* מרווח עליון */
}

.text-content, .image-content {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;  /* שינוי ל-flex-start */
  padding: 2rem;
  box-sizing: border-box;
  min-height: 400px;
}

.content::-webkit-scrollbar {
  max-width: 8px;
  width: 8px;
  min-width: 8px;
}

.content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  max-width: 8px;
  width: 8px;
  min-width: 8px;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 255, 0, 0.7);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  max-width: 8px;
  width: 8px;
  min-width: 8px;
}

.content {
  scrollbar-width: 100px;
  scrollbar-color: rgba(0, 255, 0, 0.7) rgba(0, 0, 0, 0.1);
}

.intro-image, .services-image {
  width: 100%;
  object-fit: cover;
  margin-top: 0;  /* הסרת מרווח עליון מהתמונה */
}

/* התאמה ספציפית למסך 21:9 עבור התמונה העליונה */
@media screen and (min-aspect-ratio: 21/9) {
  .intro-image {
    width: 95%;  /* קצת יותר קטן מהתמונה השנייה */
    height: auto;
  }
}

@media (max-width: 100%) {
  .text-content, .image-content {
    flex-basis: 20%;
    padding: 10px;
  }

  .intro-image, .services-image {
    max-width: 75vw;
  }
}

@media (max-width: 100%) {
  .text-content, .image-content {
    flex-basis: 100%;
    padding: 1rem;
    min-height: auto;
  }

  .intro-image, .services-image {
    max-width: 50vw;
    margin-bottom: 20px;
  }
}

@media (max-width: 100%) {
  .text-image-container {
    margin: 10px;
    gap: 10px;
    flex-direction: column;
  }

  .intro-image, .services-image {
    max-width: 50vw;
    border-radius: 5px;
  }
}