html, body {
  margin: 0;
  background: black;
  color: #17ca07;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: relative;
  background: linear-gradient(135deg, #000000, #1b1b1b);
  color: #17ca07;
  width: 100vw;
  height: 17vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: -5% 20px;
  z-index: 1000;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #17ca07;
  box-sizing: border-box;
  z-index: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 15vh; 
}

.sidebar ul li {
  margin: 0 12.5px;
  position: relative;
  flex: 0;
}

.sidebar ul li a.menu-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.25vw;  /* Use consistent vw for both width and height */
  height: 7vw; /* This ensures a circle on all screen sizes */
  min-width: 7.25vw;
  min-height: 7vW;
  border-radius: 50%;
  background-color: rgba(23, 202, 7, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  box-shadow: 0 0 10px #17ca07, 0 0 20px #17ca07;
  flex-shrink: 0;
}

.sidebar ul li a.menu-icon img {
  max-width: 7.5vw;
  max-height: 16vh;
  width: auto;
  height: auto;
  min-width: 7.5vw;
  min-height: 12vh;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.sidebar ul li a.menu-icon:hover img {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.sidebar ul li:hover a.menu-icon {
  background-color: rgba(23, 202, 7, 0.2);
  transform: scale(1.05);
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #1b1b1b;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1001;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: auto;
  border: 1px solid #17ca07;
  width: auto;
  min-width: 105px;
}

.sidebar ul li:hover .dropdown-menu,
.dropdown-menu:hover {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(10px);
}

.dropdown-menu a {
  color: #17ca07;
  text-decoration: none;
  display: flex;
  padding: 7px 10px;
  transition: background-color 0.25s ease, color 0.25s ease;
  direction: rtl;
  text-align: right;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background-color: #333;
  color: #ffffff;
}

@media screen and (max-width: 100%) {
  .sidebar ul li a.menu-icon {
    width: 15vw;
    height: 15vw;
  }
}

@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
