.photo-carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center; /* Center align text and buttons */
}

.carousel-image {
  margin-top: -2vw;
  width: 95vw;
  height: 92.75vw; /* Changed to maintain 21:9 ratio (95 * 9/21) */
  max-height: 95vh;
  object-fit: contain;
}

.control-button {
  position: absolute;
  bottom: 1.85rem;
  left: 53rem;
  background: rgba(255, 255, 255, 0.5); /* Light white shade */
  border: none;
  cursor: pointer;
  font-size: 15px; /* Small size */
  padding: 5px;
  border-radius: 75%;
  width: 1.5rem; /* Small button size */
  height: 1.5rem; /* Small button size */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure button is above other elements */
  transform: translateX(-120px); /* Adjust position relative to center */
}

.image-name {
  position: absolute;
  bottom: 3rem; /* Adjust to position above the bar */
  left: 55rem;
  transform: translateX(-50%);
  font-size: 18px; /* Font size for the caption */
  color: rgba(255, 255, 255, 0.5); /* Light white shade */
  background: rgba(0, 0, 0, 0.5); /* Optional: dark background for better readability */
  padding: 2px 5px;
  border-radius: 5px;
}

.progress-bar-container {
  position: absolute;
  bottom: 2.5rem; /* Adjust as needed */
  left: 55rem;
  transform: translateX(-50%);
  width: 15.2rem; /* Fixed width for progress bar container */
  height: 0.4rem;
  display: flex;
  gap: 2px; /* Add some spacing between bars */
}

.progress-bar {
  position: relative;
  flex: 1;
  height: 10.5px;
  background: rgba(120, 120, 120, 0.5); /* Light white shade */
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100rem;
  background: rgba(255, 255, 255, 0.5); /* Running bar color */
  border-radius: 3px;
  transition: width 0.1s linear;
}

.progress-bar.active .progress-bar-background {
  width: 100rem;
}
