:root {
  --hacker-width: 50vh;
  --hacker-height: 50vh;
  --primary-color: #17ca07;
  --bg-color: black;
  --text-color: white;
  --rectangle-width: 26.5vw; /* Keeping width fixed relative to viewport */
  --rectangle-height: 30vh;  /* Keeping height fixed relative to viewport */
}

html, body {
  margin: 0;
  background: var(--bg-color);
  color: var(--primary-color);
  height: 100vh; 
  overflow: hidden;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#matrix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

/*.hacker2 {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 30vh;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url('../../images/backgrounds/hacker.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9999;
}*/

.hacker2 {
  position: absolute;
  top: 80%;
  left: 51.2%;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 50vh;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url('Hacker.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9999;
}

/* Common Rectangle Styles */
.rectangle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #17ca07;
  opacity: 0;
  animation: fadeIn 2s forwards, glow 1.5s infinite alternate, float 3s infinite alternate ease-in-out;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  will-change: transform;
  cursor: pointer;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: var(--rectangle-width);   /* Using viewport-based width */
  height: var(--rectangle-height); /* Using viewport-based height */
}

.rectangle.first {
  top: 35.5%;
  left: 67.8%;
  transform: translate(-50%, -50%) rotateY(20deg);
  animation-delay: 0.525s;
  background-image: url('./articles.jpg');
}

.rectangle.second {
  top: 35.5%;
  right: 65%;
  transform: translateY(-50%, -50%) rotateY(-20deg);
  animation-delay: 0.525s;
  background-image: url('./guides.jpg');
}

.rectangle.third {
  top: 10.5%;
  left: 38%;
  transform: translate(-50%, -50%);
  animation-delay: 0.55s;
  background-image: url('./videos.jpg');
}

@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.rectangle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(0); /* No blur by default */
  z-index: -1;
  transition: filter 1.5s ease; /* Smooth transition */
}

.rectangle:hover::before {
  filter: blur(5px); /* Apply blur on hover */
}

.rectangle:hover {
  box-shadow: 0 0 30px #17ca07;
  border-color: #17ca07;
}

.title {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-size: 1.35rem;
  font-weight: bold;
  text-shadow: 0 0 10px #ffffff;
  opacity: 0;
  transition: opacity 2.5s ease, transform 2.5s ease;
  z-index: 1; /* Ensure title is above blur effect */
}

.rectangle:hover .title {
  opacity: 1;
  font-weight: bold;
  text-shadow: 0 0 10px #ffffff;
  transform: translateX(-50%) scale(1.5);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .hacker {
    width: 25vw;
    height: 40vh;
  }

  .rectangle {
    width: 35vw; /* Adjusting for smaller screens */
    height: 25vh; /* Keeping the aspect ratio */
  }
}

@media (max-width: 480px) {
  .hacker {
    width: 35vw;
    height: 30vh;
  }

  .rectangle {
    width: 45vw;
    height: 20vh;
  }

  .title {
    font-size: 1rem;
  }
}
